<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://bda2512e8381a2:5a6470ed@us-cdbr-iron-east-05.cleardb.net/heroku_68a90538668fd87?reconnect=true</property>
        <property name="hibernate.connection.username">bda2512e8381a2</property>
        <property name="hibernate.connection.password">5a6470ed</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">false</property>

        <!-- hibernate c3p0 connection pooling configuration  -->
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">60</property> <!-- seconds -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.timeout">0</property> <!-- seconds -->
        <property name="hibernate.c3p0.acquireRetryAttempts">1</property>
        <property name="hibernate.c3p0.acquireRetryDelay">250</property>

        <mapping class="com.tigratius.crudweb.entity.Customer"/>
        <mapping class="com.tigratius.crudweb.entity.Project"/>
        <mapping class="com.tigratius.crudweb.entity.Skill"/>
        <mapping class="com.tigratius.crudweb.entity.Team"/>
        <mapping class="com.tigratius.crudweb.entity.User"/>

    </session-factory>
</hibernate-configuration>