<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Skill Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../../css/style.css" th:href="@{/css/style.css}"/>
</head>

<body>

<h1>Edit Skill</h1>

<form action="update" method="post">

    <input type="hidden" name="id" th:value="${skill.id}"/>

    <table>
        <tr>
            <th>Name:</th>
            <td>
                <input type="text" name="name"
                       th:value="${skill.name}"
                />
            </td>
        </tr>
    </table>

    <input type="submit" value="Save"/>
</form>

</body>

</html>